@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #596062;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 120%; 
}

h3 {
	font-size: 110%;
}

h6 {
	font-size: 90%;
}

header {
	display: block;
	width: 100%;
	padding: 20px 0px;
	background-color: #AAB7B8;
}

header i {
	color: #818A8C;
}

header .content-outer {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 75%;
	background-color: #FFF;
}

header .content-holder {
	border: 3px solid #596062;
	width: 100%;
	margin: 10px;
	padding: 10px;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.profile-content {
	width: 100%;
	flex: 1;
	padding: 10px 0px;
	text-align: center;
}

.profile-content > p {
	margin: 5px 25px;
	text-align: justify;
	color: #818A8C;
}

.dialog-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
	opacity: 0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.dialog-box:target {
	opacity:1;
	pointer-events: auto;
}

.dialog-box-content {
	width: 40%;
	position: relative;
	margin: 15% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #00d9ff; 
}

.profile-content > img {
	width: 50%;
	border-radius: 50%;
}

.profile-content table {
	margin: auto;
}

.profile-content td {
	text-align: left;
	margin: auto;
	width: 75%;
	padding : 0px 20px;
}

.profile-content-laptop-icon {
	opacity: 0.8;
}

.profile-content-phone-icon {
	filter: brightness(60%);
}

@media (min-width: 500px) {

	body {
		font-size: 110%;
	}
	
	h1 {
		font-size: 175%;
	}

	h2 {
		font-size: 150%; 
	}

	h3 {
		font-size: 125%;
	}

	h6 {
		font-size: 100%;
	}

	.profile-content {
		padding: 10px 0px;
		text-align: center;
	}

	.profile-content > img {
		width: 30%;
		border-radius: 50%;
	}

	.profile-content > p {
		margin: 10px 60px;
	}

	.profile-content td {
		padding : 5px 30px;
	}
}

@media (min-width: 768px) {

	body {
		font-size: 120%;
	}
	
	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 175%; 
	}

	h3 {
		font-size: 150%;
	}

	h6 {
		font-size: 125%;
	}

	.profile-content > img {
		width: 25%;
		border-radius: 50%;
	}

	.profile-content td {
		padding : 5px 40px;
	}

	.profile-content-home-icon {
		content: url(../images/home_tablet.png);
	}

	.profile-content-mail-icon {
		content: url(../images/mail_tablet.png);
	}

	.profile-content-laptop-icon {
		content: url(../images/laptop_tablet.png);
	}

	.profile-content-phone-icon {
		content: url(../images/phone_tablet.png);
	}

}

@media (min-width: 1024px) {
	body {
		margin: 0px auto;
		max-width: 1600px;
		font-size: 140%;
	}
	
	h1 {
		font-size: 225%;
	}

	h2 {
		font-size: 200%; 
	}

	h3 {
		font-size: 175%;
	}

	h6 {
		font-size: 100%;
	}

	.profile {
		flex-direction: row;
	}

	.profile-content:first-child {
		flex-grow: 2;
	}

	.profile-content:nth-child(2) {
		flex-grow: 1;
	}

	.profile-content:last-child {
		flex-grow: 2;
	}

	.profile-content > p {
		margin: 15px 55px;
	}

	.profile-content > img {
		width: 100%;
		border-radius: 50%;
	}

	.profile-content td {
		padding : 5px 40px;
	}

	.profile-content-home-icon {
		content: url(../images/home.png);
	}

	.profile-content-mail-icon {
		content: url(../images/mail.png);
	}

	.profile-content-laptop-icon {
		content: url(../images/laptop.png);
	}

	.profile-content-phone-icon {
		content: url(../images/phone.png);
	}
}
